// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// - White: hsl(0, 0%, 100%)
// - Light gray: hsl(212, 45%, 89%)
// - Grayish blue: hsl(220, 15%, 55%)
// - Dark blue: hsl(218, 44%, 22%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 15px

// ### Font

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 400, 700
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$lightgray: hsl(212, 45%, 89%);
$grayblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);

.qrCodeComponent {
    width: 100vw;
    height: 100vh;
    background-color: $grayblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    line-height: 1.15;

    .conatainer {
        width: 100%;
        max-width: 1440px;
        min-width: 375px;
    }

    .qrcode {
        width: 320px;
        height: 500px;
        background-color: $white;
        border-radius: 20px;
        padding: 18px;
    }

    .qrcode-items {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    .qrcode-items-item {
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        p {
            display: block;
            width: 100%;
            padding: 10px;
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            color: $lightgray;
        }

        p.title {
            font-weight: 700;
            font-size: 22px;
            color: $darkblue;
        }

    }
}